{{#each trackers as |tracker|}}

<div class="container user-trails-hbs">
  <div class="row">
    <div class="col-xl-12 user-content">
      <ul class="tracker-forms" data-id="{{tracker.id}}">
        <div> Name: {{tracker.trail.name}}</div>
        <div class="mountain"> Mountain: {{tracker.trail.mountain}}</div>
        <div> Difficulty: {{tracker.trail.difficulty}}</div>
        <button class="btn btn-primary show-button" type="button"  data-mountain="{{tracker.trail.mountain}}">See Trail</button>
      </ul>
    </div>
  </div>
</div>
{{/each}}
