{{#each trackers as |tracker|}}

  <ul class="tracker-forms" data-id="{{tracker.id}}">
    {{!-- <div> Tracker: {{tracker.id}} </div>
    <div> Trail: {{tracker.trail_id}} </div> --}}
    <div> Name: {{tracker.trail.name}} </div>
    <div> Difficulty: {{tracker.trail.difficulty}} </div>
    <div> Rating: {{tracker.trail.rating}} </div>
    <div> Completed: {{tracker.completed}} </div>
      <div class="update-trail">
        <form class="patch-trail">
          <fieldset>
            <input class="btn btn-primary completed-button" type ="submit" name="submit" data-id="{{tracker.id}}" value="completed"></input>
            <input class="id-value" name='tracker[id]' value="{{tracker.id}}" type='hidden'>
            <input class="id-value" name="tracker[trail_id]" value="{{tracker.trail_id}}" type="hidden"></input>
            <input type="text" name='tracker[completed]' class="clear-update-input" placeholder='completed?'>
          </fieldset>
        </form>
      </div>
   </br>
     <div class="delete-tracker-wrapper">
      <form class="delete-tracker">
        <input class="btn btn-primary delete-button" type ="submit" name="submit" data-id="{{tracker.id}}" value="Delete"></input>
        <input class="id-value" name="id" value="{{tracker.id}}" type="hidden"></input>
      </form>
    </div>
  </ul>

{{/each}}
