{{#each trails as |trail|}}
<ul class="trail-forms" data-id="{{trail.id}}">
  <div>Id: {{trail.id}}</div>
  <div>Name: {{trail.name}}</div>
  <div>Difficulty: {{trail.difficulty}}</div>
  <div>Rating: {{trail.rating}}</div>
  </ul>
{{/each}}
